.logo {
  margin-bottom: 0;
  a {
    background-image: url("https://github.com/ariel7234/2022_the_f2e_week1/blob/main/app/assets/images/logo.png?raw=true");
    background-size: cover;
    display: block;
    width: 105px;
    height: 16px;
    text-indent: 101%;
    overflow: hidden;
    word-spacing: nowrap;
  }
}

.navbar {
  padding: 10px 0;
}
