<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container d-flex justify-content-end">
        <h1 class="logo me-6"><a href="#">logo</a></h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item me-6">
              <a class="nav-link" aria-current="page" href="#">關卡資源</a>
            </li>
            <li class="nav-item me-6">
              <a class="nav-link" aria-current="page" href="#">攻略資源</a>
            </li>
            <li class="nav-item me-6">
              <a class="nav-link" aria-current="page" href="#">求職專區</a>
            </li>
            <li class="me-6"><a href="#" class="btn btn-sm">註冊報名</a></li>
            <li><a href="#" class="btn btn-sm">登入</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <%- contents %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/TextPlugin.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script>
      AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: "DOMContentLoaded", // name of the event dispatched on the document, that AOS should initialize on
        initClassName: "aos-init", // class applied after initialization
        // initClassName: 'false', // class applied after initialization
        animatedClassName: "aos-animate", // class applied on animation
        // animatedClassName: '', // class applied on animation
        useClassNames: true, // if true, will add content of `data-aos` as classes on scroll
        // 若要用外部來源要改成true
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 120, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 3000, // values from 0 to 3000, with step 50ms
        easing: "ease", // default easing for AOS animations
        once: false, // whether animation should happen only once - while scrolling down
        mirror: true, // whether elements should animate out while scrolling past them
        anchorPlacement: "top-bottom", // defines which position of the element regarding to window should trigger the animation
      });
      console.log("aos init");
    </script>
  </body>
</html>
