.pointer {
  position: relative;

  &:hover,
  &:focus,
  &:active {
    &::before {
      content: "";
      background-image: url("https://github.com/ariel7234/2022_the_f2e_week1/blob/main/app/assets/images/pointer.gif?raw=true");
      width: 86px;
      height: 53px;
      background-size: 100%;
      display: block;
      position: absolute;
      left: -128px;
    }
  }
}